.nav-container {
    background: #BBB;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

nav li {
    display: inline;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 0 15px;
    font-weight: bold;
    font-size: 22px;
}

.nav-div-list {
    margin-left: auto;
}