.home-container {
    text-align: center;
}

.home-main-image {
    width: 100%;
}

.home-mission-paraph {
    font-size: 20px;
}

em strong {
    color: red;
}

.home-benefits {
    text-align: left;
    background: #FFF;
    padding: 20px;
}

.home-title-benefits {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.home-items {
    font-style: italic;

}

.benefit-image {
    width: 50%;
    border-radius: 5%;
}