body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: 700;
  }
  
  ul {
    list-style-type: none;
   
  }

a {
    text-decoration: none;
    color: unset;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}